body{
    background-image: url(pizzaback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;

}
img {
    width: 150px;
    height: 150px;
}
fieldset{
    border: solid 2px;
    width: 7cm;
    height: 16cm;
    justify-content: center;
    margin-left: 10cm;
    background-color: white;

}
.miniscule{
    text-transform: lowercase;
}

.facture{
    
    
}